html { 
  /*background: url(images/bg.jpg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #4d88ff;
}

body {
  font-family: font-family: 'Roboto Slab', serif !important;
  background-color: #4d88ff !important;
}

@font-face {
  font-family: 'numFont';
  src: url(../font/Panton-LightCaps.otf) format("opentype");
  font-size: normal;
  font-weight: normal;
}

.nf {
  margin-left: 32%;
  letter-spacing: 0.5px;
  display: inline;
  font-family: 'numFont' !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  color: white;
  font-size: 150%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.alignment {
  text-align: left;
}

em { 
  letter-spacing: 0.5px;
  display: inline;
  font-family: 'numFont' !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  color: white;
  font-size: 211%;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yest em {
  font-size: 435%;
}

em .high{
  color: gray;
}

em .low {
  color: blue;
}

input {
  background-color: #4d88ff;
  border-top: none;
  border-left: none;
  border-right: none;
  border-top-color: #4d88ff;
  border-left-color: #4d88ff;
  border-right-color: #4d88ff; 
  border-bottom-width: thin;
  font-family: 'Roboto Slab', serif !important;
  font-size: large !important;
  width: 15%;
  text-align: -webkit-center;
  color: black;
  /*margin-left: 43%;*/
  margin-top: 35%;
}

input#driver {
  background:url(../images/search_icon.png);
  background-repeat: no-repeat;
  width:40px;
  height:40px;
  border: 0;
}

#driver {
  color: white;
  text-align: -webkit-center;
  color: black;
  /*margin-left: 43%;*/
  width: 40px;
  height: 40px;
  /*margin-top: 35%;*/
}

.main {
  display: block;
  text-align: -webkit-center;
  font-size: large;
  color: white;
  background-color: #4d88ff !important;
  margin-top: 5%;
}

/*.btnn {
  margin-top: 5% !important;
  margin-left: 39% !important;
  width: 21%;
  font-size: large;
  color: black;
  border: none;
  background-color: #d6d6c2;
}*/

p {
  text-align: -webkit-center;
  font-family: 'Roboto Slab', serif !important;
}