html { 
  /*background: url(images/bg.jpg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #4d88ff;
}

body {
	font-family: 'Oswald', sans-serif !important;
  background-color: #4d88ff !important;
}

@font-face {
  font-family: 'wi';
  src: url(font/weathericons-regular-webfont.eot);
  src: url(font/weathericons-regular-webfont.woff2) format('woff2'), 
       url(font/weathericons-regular-webfont.woff) format('woff'),
       url(font/weathericons-regular-webfont.ttf) format('truetype')
       url(font/weathericons-regular-webfont.svg) format('svg');       
  font-size: normal;
  font-weight: normal;
}

.wi {
  font-family: 'wi';
}

input {
	background-color: #4d88ff;
	border-top: none;
  border-left: none;
  border-right: none;
  border-top-color: #4d88ff;
  border-left-color: #4d88ff;
  border-right-color: #4d88ff; 
  border-bottom-width: thin;
  font-family: 'Oswald', sans-serif !important;
  font-size: large !important;
  width: 15%;
  text-align: -webkit-center;
  color: black;
  margin-left: 43%;
  margin-top: 35%;
}

.main {
  display: block;
  text-align: -webkit-center;
  font-size: large;
  color: white;
  background-color: #4d88ff !important;
  margin-top: 5%;
}


.btnn {
  margin-top: 10% !important;
  margin-left: 43% !important;
  font-size: large;
  color: black;
  border: none;
  background-color: #d6d6c2;
}

p {
  text-align: -webkit-center;
  font-family: 'Oswald', sans-serif !important;
}